{% extends 'header.html' %}
{% load static %}
{% block header %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>E Store - eCommerce HTML Template</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="eCommerce HTML Template Free Download" name="keywords">
        <meta content="eCommerce HTML Template Free Download" name="description">

        <!-- Favicon -->
        <link href="{% static 'img/favicon.ico' %}" rel="icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{% static 'lib/slick/slick.css' %}" rel="stylesheet">
        <link href="{% static 'lib/slick/slick-theme.css' %}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>

    <body>
        
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                    <li class="breadcrumb-item active">Sign Up</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- Login Start -->
        <div class="login">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                     {% if msg %}
                        <b> {{msg}} </b>
                        {% endif %}    
                        <div class="register-form">
                            <form name="signup" method="post" action="{% url 'signup' %}" enctype="multipart/form-data">
                                {% csrf_token %}
                            <div class="row">
                                   <div class="col-md-12">
                                    <label>User Type</label>&nbsp;&nbsp;
                                    <input type="radio" name="usertype" 
                                    value="user">User &nbsp;&nbsp;&nbsp;
                                    <input type="radio" name="usertype" 
                                    value="seller">Seller
                                
                                </div><br><br>
                                <div class="col-md-6">
                                    <label>First Name</label>
                                    <input class="form-control" type="text" placeholder="First Name" name="fname">
                                </div>
                                <div class="col-md-6">
                                    <label>Last Name</label>
                                    <input class="form-control" type="text" placeholder="Last Name" 
                                    name="lname">
                                </div>
                                <div class="col-md-6">
                                    <label>E-mail</label>
                                    <input class="form-control" type="email" placeholder="E-mail"
                                    name="email" id="email">
                                </div>
                                 <div class="col-md-6">
                                    <span id="email_error"></span>
                                </div>
                                <div class="col-md-6">
                                    <label>Mobile No</label>
                                    <input class="form-control" type="text" placeholder="Mobile No" 
                                    name="mobile">
                                </div>
                                <div class="col-md-6">
                                    <label>Password</label>
                                    <input class="form-control" type="password" placeholder="Password"
                                    name="password">
                                </div>
                                <div class="col-md-6">
                                    <label>Confirm Password</label>
                                    <input class="form-control" type="password" placeholder="Password"
                                    name="cpassword">
                                </div>
                                 <div class="col-md-6">
                                    <label>Profile Picture</label>
                                    <input class="form-control" type="file" placeholder="Profile 
                                    Picture" name="image">
                                </div>
                                <div class="col-md-12">
                                    <button class="btn" type="submit">Sign Up</button>
                                </div>
                            </div>
                        </form><br>
                        All Ready Registerd ? <a href="{% url 'login' %}">Click Here</a> To Login
                        </div>
                        
                    </div>
                   
                </div>
            </div>
        </div>
        <!-- Login End -->
        <script>
            $("#email").change(function () {
                var email = $(this).val();

                $.ajax({
                    url: '/ajax/signup_validate_email',
                    data: {
                        'email': email
                    },
                    dataType: 'json',
                    success: function(data) {
                        if(data.is_taken) {
                            $('#email_error').html("Email Is Already Registerd").css('color', 'red');
                        }
                        else {
                         $('#email_error').html("");   
                        }
                    }
                });
            });
        </script>
    
    </body>
</html>
{% endblock %}